<div class="container">
  <h1>Guitar List</h1>

  <form class="search" [formGroup]="search" (ngSubmit)="searchQ()">
    <input type="text" autocomplete="off" name="search" formControlName="search" placeholder="search..." id="search" (ngModelChange)="autoComplete()">
    <div class="autoCom">
      <p class="searchOption" *ngFor="let guitar of guitars">{{guitar.company}} {{guitar.model}} {{guitar.year}}</p>

    </div>
    <button type="submit"> Go!</button>
  </form>

  <div class="form-div">

    <form class="form" [formGroup]="form" (ngSubmit)="addGuitar()">
      <div class="form-control">
        <label for="company">Company</label>
        <input type="text" name="company" formControlName="company">
      </div>
      <div class="form-control">
        <label for="model">Model</label>
        <input type="text" name="model" formControlName="model">
      </div>
      <div class="form-control">
        <label for="year">Year</label>
        <input type="number" name="year" formControlName="year">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" formControlName="price">
      </div>
      <button type="submit">Add Guitar</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Made By</th>
        <th>Model</th>
        <th>Year</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guitar of guitars">
        <td>{{guitar.company}}</td>
        <td>{{guitar.model}}</td>
        <td>{{guitar.year}}</td>
        <td>{{guitar.price}}</td>
        <td><button class="open-form-btn" routerLink="edit/{{guitar.id}}">Edit</button></td>
        <td><button (click)="deleteGuitar(guitar.id)">Delete</button></td>
      </tr>

    </tbody>
  </table>

</div>
