  <button id="backBtn" (click)="goBack()">Back</button>
  <div class="form-div">
    <form class="form" [formGroup]="form" (ngSubmit)="updateGuitar()">
      <div class="form-control">
        <label for="company">Company</label>
        <input type="text" name="company" formControlName="company">
      </div>
      <div class="form-control">
        <label for="model">Model</label>
        <input type="text" name="model" formControlName="model">
      </div>
      <div class="form-control">
        <label for="year">Year</label>
        <input type="number" name="year" formControlName="year">
      </div>
      <div class="form-control">
        <label for="price">Price</label>
        <input type="number" name="price" formControlName="price">
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
